<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <title>Form 2</title>
</head>
<body>
<div class="col-sm-3">
    <check if="{{ !empty(@errors['color'])}}">
        <p>{{ @errors['color'] }}</p>
    </check>
</div>
<form action="#" method="post" class="form-horizontal">
    <label class="col-sm-1 control-label" for="color">Pet Color:</label>
    <div class="col-sm-3">
    <select class="form-control" name="color" id="color">
            <check if="{{ @errors['color']}}">
                <p>{{@errors['color']}}</p>
            </check>
        <option>--Select a color--</option>
        <repeat group="{{ @colors }}"
                key="{{ @colors }}"
                value="{{ @colorOption }}">
            <option>
                <check if="{{ @colorOption == @color}}">selected</check>
                {{ @colorOption }}
            </option>
        </repeat>
    </select>
    </div>
    <label class="col-sm-8 control-label" for="activity">Active Pet:
        <p>
            <check if="{{ @errors['act'] }}">
                <span class="err">{{ @errors['act'] }}</span>
            </check>
        </p>
    </label>
    <div class="col-sm-8">
        <hr id="activity">
        <div class="container-fluid">
            <div class="row">
                <repeat group="{{ @act }}"
                        key="{{ @acts }}"
                        value="{{ @activity }}">
                    <div class="form-check form-check-inline col">
                        <label class="form-check-label">
                            <input type="checkbox"
                                   class="form-check-input"
                                   name="act[]"
                                   value="{{ @activity }}">
<!--                                   <check if="{{ !empty(@act) && in_array(@activity, @act) }}">-->
<!--                                       checked="checked"-->
<!--                                   </check>-->
                            {{ @activity }}
                        </label>
                    </div>
                </repeat>
            </div>
        </div>
        <input type="submit" value="Next">
    </div>

</form>
</body>
</html>